In [3]:
import pandas as pd
import numpy as np
#import plotly.express as px
#import plotly.graph_objects as go

In [4]:
data = pd.read_csv('Data/properati.csv')
data.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [5]:
round((data.isnull().sum()/data.shape[0]),2)

Unnamed: 0                    0.00
operation                     0.00
property_type                 0.00
place_name                    0.00
place_with_parent_names       0.00
country_name                  0.00
state_name                    0.00
geonames_id                   0.15
lat-lon                       0.43
lat                           0.43
lon                           0.43
price                         0.17
currency                      0.17
price_aprox_local_currency    0.17
price_aprox_usd               0.17
surface_total_in_m2           0.32
surface_covered_in_m2         0.16
price_usd_per_m2              0.43
price_per_m2                  0.28
floor                         0.93
rooms                         0.61
expenses                      0.88
properati_url                 0.00
description                   0.00
title                         0.00
image_thumbnail               0.03
dtype: float64

## Geolocalización.

Hay varios campos que intervienen en la **geolocalización**. Los más útiles son **lan** y **lon** porque nos dan la ubicación exacta de la propiedad. El problema es que tienen un porcentaje alto de nulos, por lo que el objetivo va a ser tratar de inducir estos valores. 

Los campos que vamos a evaluar para definir una estrategia de imputación, serán: 
* **lat-lon:** concatenación de latitud y longitud.
* **lat:** latitud.
* **lon:** longitud.
* **place_name:** localidad o barrio.
* **place_with_parent_names:** concatenación de ubicaciones.
* **country_name:** país.
* **state_name:** provincia o partido.
* **geonames_id:** identificador de ubicación.

### Campos de Coordenadas: lat, lon y lat-lon.
Tenemos tres campos de coordenadas: **lat, lon** y **lat-lon**. Veamos qué información tienen.

In [6]:
data[['lat','lon','lat-lon']]

              lat        lon                        lat-lon
0      -34.661824 -58.508839        -34.6618237,-58.5088387
1      -34.903883 -57.964330        -34.9038831,-57.9643295
2      -34.652262 -58.522982        -34.6522615,-58.5229825
3      -34.647797 -58.516424        -34.6477969,-58.5164244
4      -38.002626 -57.549447        -38.0026256,-57.5494468
...           ...        ...                            ...
121215        NaN        NaN                            NaN
121216        NaN        NaN                            NaN
121217 -34.570639 -58.475596  -34.5706388726,-58.4755963355
121218        NaN        NaN                            NaN
121219        NaN        NaN                            NaN

[121220 rows x 3 columns]

In [7]:
# Cantidad de nulos
data[['lat','lon','lat-lon']].isnull().sum()

lat        51550
lon        51550
lat-lon    51550
dtype: int64

In [8]:
# Porcentaje de nulos
round(data[['lat','lon','lat-lon']].isnull().sum() / data.shape[0],2)

lat        0.43
lon        0.43
lat-lon    0.43
dtype: float64

A simple vista, pareciera ser que **lat-lon** tiene la misma información que **lat** y **lon**, con un decimal adicional.

Para comprobar si esto efectivamente es así, separaremos **lat-lon** en dos columnas y luego compararemos a cada una contra **lat** y **lon**, respectivamente.

In [9]:
# 1. Separar lat-lon en lat y lon.
lati = data['lat-lon'].apply(lambda x: x if x is np.NaN else float(x.split(",")[0]))
longi = data['lat-lon'].apply(lambda x: x if x is np.NaN else float(x.split(",")[1]))

# 2. Comparar contra lan para ver si son iguales.
lati_notnulls = lati.notnull()
lat_notnulls = data['lat'].notnull()
print('Cantidad no nulos lati:', lati_notnulls.sum())
print('Cantidad no nulos lat:', lat_notnulls.sum())
mask_noiguales_latitud = lati_notnulls != lat_notnulls
data.loc[mask_noiguales_latitud, :]

# 3. Comparar contra lon para ver si son iguales.
longi_notnulls = longi.notnull()
lon_notnulls = data['lon'].notnull()
print('Cantidad no nulos longi:', longi_notnulls.sum())
print('Cantidad no nulos lon:', lon_notnulls.sum())
mask_noiguales_longitud = longi_notnulls != lon_notnulls
data.loc[mask_noiguales_longitud, :]

# 4. Confirmación visual.
data['lat-lon_longitud'] = longi
data['lat-lon_latitud'] = lati

data[['lat-lon', 'lat', 'lat-lon_latitud','lat-lon_longitud', 'lon']]

Cantidad no nulos lati: 69670
Cantidad no nulos lat: 69670
Cantidad no nulos longi: 69670
Cantidad no nulos lon: 69670

,lat-lon,lat,lat-lon_latitud,lat-lon_longitud,lon
0,"-34.6618237,-58.5088387",-34.661824,-34.661824,-58.508839,-58.508839
1,"-34.9038831,-57.9643295",-34.903883,-34.903883,-57.964329,-57.964330
2,"-34.6522615,-58.5229825",-34.652262,-34.652262,-58.522982,-58.522982
3,"-34.6477969,-58.5164244",-34.647797,-34.647797,-58.516424,-58.516424
4,"-38.0026256,-57.5494468",-38.002626,-38.002626,-57.549447,-57.549447
...,...,...,...,...,...
121215,NaN,NaN,NaN,NaN,NaN
121216,NaN,NaN,NaN,NaN,NaN
121217,"-34.5706388726,-58.4755963355",-34.570639,-34.570639,-58.475596,-58.475596
121218,NaN,NaN,NaN,NaN,NaN
121219,NaN,NaN,NaN,NaN,NaN

Podemos concluir que el campo **lat-lon** tiene la misma información que **lat** y **lon** separadamente. 

Por una cuestión de practicidad es preferible tener estos campos por separado, y por lo tanto se puede prescindir de esta columna.

### Columnas descriptivas de ubicación: place_name, place_with_parent_names, country_name y state_name.

In [10]:
data[['place_name', 'place_with_parent_names', 'country_name', 'state_name']]

,place_name,place_with_parent_names,country_name,state_name
0,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal
1,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur
2,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal
3,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal
4,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica
...,...,...,...,...
121215,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal
121216,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte
121217,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal
121218,Plaza Colón,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica
121219,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal

In [11]:
data[['place_name', 'place_with_parent_names', 'country_name', 'state_name']].isnull().sum()

place_name                 23
place_with_parent_names     0
country_name                0
state_name                  0
dtype: int64

En estas columnas aparentemente no hay mayores problemas de nulos. Sólo **place_name** tiene 23 elementos a los que les falta valor. 

Revisemos un poco más estos datos.

In [12]:
mask_place_name_nulos = data.place_name.isnull()
mask_place_name_no_nulos = data.place_name.notnull()
print('Registros no nulos:', data.loc[mask_place_name_no_nulos,'place_name'].shape[0])
print('Registros nulos:', data.loc[mask_place_name_nulos,'place_name'].shape[0])
data.loc[mask_place_name_nulos,'place_name']

Registros no nulos: 121197
Registros nulos: 23

6489     NaN
10201    NaN
11451    NaN
14839    NaN
18622    NaN
21922    NaN
23664    NaN
24722    NaN
38856    NaN
45970    NaN
46642    NaN
53130    NaN
55306    NaN
57703    NaN
57759    NaN
57764    NaN
57793    NaN
58004    NaN
58037    NaN
59069    NaN
62411    NaN
62413    NaN
63849    NaN
Name: place_name, dtype: object

In [13]:
data.loc[mask_place_name_nulos, ['place_name', 'place_with_parent_names', 'country_name', 'state_name']]

,place_name,place_with_parent_names,country_name,state_name
6489,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
10201,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
11451,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
14839,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
18622,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
21922,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
23664,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
24722,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
38856,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
45970,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
46642,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
53130,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
55306,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
57703,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
57759,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
57764,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
57793,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
58004,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
58037,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
59069,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
62411,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
62413,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte
63849,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte

Al evaluar los datos se ve que ese dato está faltando y no es posible deducirlo. Como son sólo 23 registros, podríamos eliminarlos de la serie.

Nos fijamos cómo está el resto de los campos cuando estos valores son nulos, para estar seguros de no estar tirando información valiosa:

In [14]:
data.loc[mask_place_name_nulos, ['price','price_aprox_local_currency','price_aprox_usd','price_usd_per_m2','price_per_m2']]
# Ver si se puede deducir place_name con la descripcion

,price,price_aprox_local_currency,price_aprox_usd,price_usd_per_m2,price_per_m2
6489,650000.0,11468925.0,650000.0,2708.333333,2708.333333
10201,535000.0,9439807.5,535000.0,NaN,1783.333333
11451,550000.0,9704475.0,550000.0,253.456221,2037.037037
14839,480000.0,8469360.0,480000.0,2000.000000,2400.000000
18622,1297000.0,22884916.5,1297000.0,3814.705882,3814.705882
21922,440000.0,7763580.0,440000.0,NaN,2000.000000
23664,480000.0,8469360.0,480000.0,1632.653061,1632.653061
24722,530000.0,9351585.0,530000.0,1677.215190,1962.962963
38856,1350000.0,23820075.0,1350000.0,NaN,2454.545455
45970,95000.0,1676227.5,95000.0,1727.272727,3518.518519
46642,1470000.0,25937415.0,1470000.0,NaN,73500.000000
53130,630000.0,11116035.0,630000.0,630.000000,1702.702703
55306,470000.0,8292915.0,470000.0,1850.393701,2303.921569
57703,650000.0,11468925.0,650000.0,2826.086957,2826.086957
57759,580000.0,10233810.0,580000.0,1611.111111,1611.111111
57764,970000.0,17115165.0,970000.0,2282.352941,2480.818414
57793,760000.0,13409820.0,760000.0,3040.000000,3040.000000
58004,550000.0,9704475.0,550000.0,2067.669173,2391.304348
58037,590000.0,10410255.0,590000.0,1843.750000,1843.750000
59069,640000.0,11292480.0,640000.0,NaN,2580.645161
62411,340000.0,5999130.0,340000.0,2000.000000,2000.000000
62413,419000.0,7393045.5,419000.0,1676.000000,2095.000000
63849,400000.0,7057800.0,400000.0,2857.142857,2857.142857

Como las columnas de precio tienen información, decidimos que es mejor no eliminarlos.

Al revisar los datos que contiene **place_with_parent_names**, podemos ver que tiene datos que las otras tres columnas juntas no poseen.

In [15]:
data.place_with_parent_names.head(20)

0                 |Argentina|Capital Federal|Mataderos|
1           |Argentina|Bs.As. G.B.A. Zona Sur|La Plata|
2                 |Argentina|Capital Federal|Mataderos|
3                   |Argentina|Capital Federal|Liniers|
4     |Argentina|Buenos Aires Costa Atlántica|Mar de...
5                   |Argentina|Entre Ríos|Gualeguaychú|
6     |Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...
7                  |Argentina|Capital Federal|Belgrano|
8                  |Argentina|Capital Federal|Belgrano|
9                          |Argentina|Santa Fe|Rosario|
10                          |Argentina|Córdoba|Córdoba|
11      |Argentina|Bs.As. G.B.A. Zona Norte|San Miguel|
12    |Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...
13     |Argentina|Capital Federal|Palermo|Palermo Soho|
14     |Argentina|Capital Federal|Palermo|Palermo Soho|
15    |Argentina|Bs.As. G.B.A. Zona Norte|San Miguel...
16                |Argentina|Capital Federal|Mataderos|
17    |Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...
18           |Argentina|Bs.As. G.B.A. Zona Norte|Tigre|
19                  |Argentina|Capital Federal|Palermo|
Name: place_with_parent_names, dtype: object

Vamos a guardar estos datos en columnas separadas para futuros análisis.

In [250]:
serie_place_with_parent_names = data.place_with_parent_names

def limpiar_serie(serie):
    parents_name_lista = []
    for i in serie:
        parent_name = i.split("|")

        #se elimina el primer elemento si está vacío
        if (parent_name[0] != ''):
            print("Elemento encontrado:", parent_name[0])
        else:
            del parent_name[0]

        #se elimina el último elemento si está vacío    
        if (parent_name[-1] != ''):
            print("Elemento encontrado:", parent_name[-1])
        else:
            del parent_name[-1]

        #Se imprime la lista limpia para chequear que no hayan quedado elementos vacíos
        #print(parent_name)
        parents_name_lista.append(parent_name)
        
    return parents_name_lista

# Con la función definida obtenemos una lista con los elementos sin blancos
parents_name_list = limpiar_serie(serie_place_with_parent_names)

In [251]:
#se crea una cantidad de campos en base al valor máximo de len() 
#se recorren los elementos y, si no están nulos, se los va agregando a los campos 
longitud_maxima = 0

for pn in parents_name_list:
    if (len(pn) >= longitud_maxima):
        longitud_maxima = len(pn)
         
print("La cantidad máxima de elementos es:",longitud_maxima)

La cantidad máxima de elementos es: 5

In [18]:
# Vamos a crear las columnas necesarias y reutilizar el resto, si son iguales
serie_parents_name = pd.Series(parents_name_list)

pais_argentina = serie_parents_name.apply(lambda x: True if x[0] == 'Argentina' else False)
pais_argentina.value_counts()

True    121220
dtype: int64

In [21]:
provincia = serie_parents_name.apply(lambda x: x[1])
provincia.value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
dtype: int64

### Columna geonames_id

In [ ]:
pd.set_option('display.max_rows', None)

#Evaluamos la información en ambas columnas
data_grouped = data[['place_name','geonames_id']].groupby(['place_name','geonames_id']).sum().sort_values(by='geonames_id')
data_grouped

In [174]:
pd.reset_option('display.max_rows')

mask_geo_place_null = data.geonames_id.isnull()
df_geoname_null = data.loc[mask_geo_place_null,:]

mask_geo_place_not_null = data.geonames_id.notnull()
df_geoname_not_null = data.loc[mask_geo_place_not_null,:]

print("Cantidad de registros con geonames_id completo:", df_geoname_not_null.geonames_id.shape[0])
print("Cantidad de registros con geonames_id nulo:", df_geoname_null.geonames_id.shape[0])
print("Cantidad de registros sumados:", df_geoname_not_null.geonames_id.shape[0] + df_geoname_null.geonames_id.shape[0])
print("Cantidad de registros totales:", data.geonames_id.shape[0])

df_geoname_null.fillna(0).groupby('place_name')['geonames_id'].count().sort_values(ascending=False)

Cantidad de registros con geonames_id completo: 102503
Cantidad de registros con geonames_id nulo: 18717
Cantidad de registros sumados: 121220
Cantidad de registros totales: 121220

place_name
Nordelta                 3315
Lomas de Zamora          1253
Lanús                     971
Tigre                     965
San Miguel                752
                         ...
Golf Club Argentino         1
Villa Amancay               1
Villa Argüello              1
Faro Norte                  1
coordenadas 34.255511       1
Name: geonames_id, Length: 467, dtype: int64

In [149]:
#Validación visual. 

#Punta Iglesia debería tener 6 geonames_id en NaN
mask_punta_iglesia = data.place_name == 'Punta Iglesia'
data.loc[mask_punta_iglesia,['place_name', 'state_name', 'geonames_id']]

           place_name                    state_name  geonames_id
61499   Punta Iglesia  Buenos Aires Costa Atlántica          NaN
74403   Punta Iglesia  Buenos Aires Costa Atlántica          NaN
93480   Punta Iglesia  Buenos Aires Costa Atlántica          NaN
93939   Punta Iglesia  Buenos Aires Costa Atlántica          NaN
100043  Punta Iglesia  Buenos Aires Costa Atlántica          NaN
121139  Punta Iglesia  Buenos Aires Costa Atlántica          NaN

In [150]:
#Faro Norte debería tener 1 geonames_id en NaN
mask_faro_norte = data.place_name == 'Faro Norte'
data.loc[mask_faro_norte,['place_name', 'state_name', 'geonames_id']]

       place_name                    state_name  geonames_id
57384  Faro Norte  Buenos Aires Costa Atlántica          NaN

In [222]:
print("Existen", data.geonames_id.isnull().sum(), "valores nulos de la columna geonames_id")
print("--------------------------------------------------------------")
data_agrupada_st_nm = data.groupby('state_name')['geonames_id'].count().sort_values(ascending=False)
print("Registros agrupados de geonames_id por state_name:", data_agrupada_st_nm.shape[0])
print("Registros únicos de geonames_id por state_name:", data_agrupada_st_nm.unique().shape[0])
print("--------------------------------------------------------------")
data_agrupada_pl_nm = data.groupby('place_name')['geonames_id'].count().sort_values(ascending=False)
print("Registros agrupados de geonames_id por place_name:", data_agrupada_pl_nm.shape[0])
print("Registros únicos de geonames_id por place_name:", data_agrupada_pl_nm.unique().shape[0])

Existen 18717 valores nulos de la columna geonames_id
--------------------------------------------------------------
Registros agrupados de geonames_id por state_name: 28
Registros únicos de geonames_id por state_name: 27
--------------------------------------------------------------
Registros agrupados de geonames_id por place_name: 1060
Registros únicos de geonames_id por place_name: 206

Para completar los valores nulos, vamos a hacerlo por **place_name** o **state_name**. Agrupando por uno de estos campos, donde haya algún **geonames_id** nulo lo completaremos con el valor del que esté completo que tenga el mismo **place_name** o **state_name** respectivamente.

Para esto, vamos a:

1. Agrupar los datos por ambos criterios, utilizando uno a la vez: **place_name** o **state_name**.
2. Dentro de esa agrupación, buscar nulos del campo **geonames_id**.
3. Si son todos los mismos números, impactar el campo vacío con el mismo valor que tiene el resto de los campos. Si los números son distintos, ver si es coherente imputar la moda.

In [249]:
df = data.groupby('place_name')
mask_geonames_nulos = data.geonames_id.isnull()
serie_pln_geonames_nulos = data.loc[mask_geonames_nulos,['place_name']]
serie_stn_geonames_nulos = data.loc[mask_geonames_nulos,['state_name']]
print("Los state_name que tienen geonames_id vacíos son: \n", serie_stn_geonames_nulos.state_name.unique())
print("--------------------------------------------------------------")
print("Los place_name que tienen geonames_id vacíos son: \n", serie_pln_geonames_nulos.place_name.unique())

Los state_name que tienen geonames_id vacíos son:
 ['Bs.As. G.B.A. Zona Norte' 'Capital Federal' 'Bs.As. G.B.A. Zona Sur'
 'Bs.As. G.B.A. Zona Oeste' 'Buenos Aires Costa Atlántica'
 'Buenos Aires Interior' 'Tucumán' 'Chubut' 'Córdoba' 'Santa Fe'
 'San Luis' 'San Juan' 'Entre Ríos' 'Neuquén' 'Catamarca' 'Río Negro'
 'Mendoza' 'Misiones' 'Jujuy']
--------------------------------------------------------------
Los place_name que tienen geonames_id vacíos son:
 ['San Miguel' 'Barrio El Golf' 'Pilar' 'Barrio San Gabriel'
 'Estancias del Pilar' 'Las Cañitas' 'Fincas de Iraola' 'San Martín'
 'Nordelta' 'Boulogne Sur Mer' 'Lanús Este' 'Villa Maipu'
 'Country Maschwitz Privado' 'Las Golondrinas' 'Palermo Hollywood'
 'José C Paz' 'Barrio Las Glorietas' 'Barrio Cerrado Fincas de Maschwitz'
 'Haedo' 'Lisandro Olmos' 'Parque Centenario' 'Vicente López' 'La Perla'
 'Tigre' 'Palermo Chico' 'Barrio Los Lagos' 'Martín Coronado'
 'Mapuche Country Club' 'Berisso' 'Villa de Mayo' 'Caisamar'
 'Manuel Alberti' 'Parque Avellaneda' 'Santa Barbara Barrio Cerrado'
 'Rincón de Milberg' 'Enyoi' 'QBay Yacht' 'Barrio San Matías'
 'Olivos Golf Club' 'Barrio La Alameda' 'Islas del Canal'
 'Mayling Club de Campo' 'Ricardo Rojas' 'Villa Raffo'
 'Ciudad Jardín Lomas del Palomar' 'Valentín Alsina' 'San Fernando'
 'Haras María Victoria' 'Parque Leloir' 'Delta' 'Abasto' 'Lomas de Zamora'
 'Macrocentro' 'Country San Jorge Village' 'Tucumán' 'Plaza Colón'
 'Highland Park Country Club' 'Balneario San Cayetano'
 'Los Lagartos Country Club' 'Barrio Cerrado "La Cautiva del Pilar"'
 'Nueva Atlantis' 'Barrio Los Alisos' 'Barrio Acacias' 'La Peregrina'
 'BarrioPortezuelo' 'Costa Azul' 'Zárate' 'Lanús' 'Chascomús'
 'Lanús Oeste' 'Monte Grande' 'Los Pingüinos Country Club' 'Las Talitas'
 'San Francisco Club de Campo' 'Carmel Country Club' 'Tribunales'
 'Comodoro Rivadavia' 'Mar Azul' 'Potrero de Garay' 'Haras Santa Maria'
 'Catalinas' 'Malvinas Argentinas' 'Boca Ratón' 'Barrio Ceibos'
 'Miraflores Country Club' 'Villa Santa Cruz del Lago'
 'Marinas Golf Barrio Cerrado' 'Tortuguitas' 'Talar del Lago 1'
 'Ex La Ponderosa' 'Barrio Privado El Rodal' 'Villa Tesei'
 'Los Polvorines' 'Pompeya' 'Solares del Talar' 'Barrio Santa Teresa'
 'Barrio San Rafael' 'Country Nuevo Quilmes' 'Barrio Cerrado "La Delfina"'
 'El Jagüel' 'El Nacional Club de Campo' 'Esquel' 'Derqui'
 'Galapagos Country Club' 'Costa Esmeralda' 'Adrogué'
 'Terravista Barrio Privado' 'Grand Bourg' 'Presidente Perón'
 'El Canton Barrio Puerto' 'Guernica' 'Villa Bonich' 'Sourigues'
 'Barrio Parque San Martin' 'Barrio cerrado Santa Ana' 'El Rocío'
 'Barrio Parque General San Martin' 'Albanueva Barrio Cerrado'
 'Florida Oeste' 'Aeropuerto Internacional Ezeiza' 'Villa Martelli'
 'Dunamar' 'Barrio Santa Clara' 'Laguna del Sol' 'Pueblo Esther'
 'Haras del Sur I' 'Abril Club de Campo' 'Terminal Nueva' 'Carapachay'
 'Maschwitz' 'Country Saint Thomas' 'Coronel Brandsen'
 'El Casco de Leloir' 'Pinos de Anchorena' nan 'Los Angeles Village'
 'Palermo Viejo' 'La horqueta de Echeverría' 'Ingeniero Pablo Nogués'
 'Manuel B Gonnet' 'Juana Koslay' 'Gregorio de Laferrere'
 'Barrio San Isidro Labrador' 'Plaza Mitre' 'Talar del lago 2'
 'Ingeniero Juan Allan' 'La Unión' 'Azul' 'Barrio La Isla' 'Desamparados'
 'Santa-Catalina' 'coordenadas 34.255511' 'El Talar de Pacheco'
 'Loma Hermosa' 'Villa Ariza' 'Pilar del Lago' 'Fincas de Hudson'
 'Club El Carmen - Sector casas' 'Barrio Cerrado "Los Ombúes de Hudson"'
 'GreenVille Polo & Resort' 'Altos de Hudson II' 'Haras del Sur II'
 'Cariló' 'Los Sauces Country Club' 'Haras del Pilar - El Establo'
 'El Pato Country Club' 'Campo Chico Country Club' 'San Carlos'
 'La Martinica' 'Ciudad Evita' 'La Comarca'
 'Haras del Pilar - Las Praderas 1 y 2' 'Merlo' 'Virrey del Pino'
 'San Juan' 'Fincas de Iraola II' 'Playa Chica' 'Septiembre'
 'Santa Isabel' 'El Cazador' 'Country Club Aranjuez' 'Altamira'
 'Barrio Araucarias' 'Villa Ciudad Parque Los Reartes'
 'Club de Campo La Martona' 'Barrio Cerrado Las Casuarinas'
 'Pilar Village' 'Barrio Los Tilos' 'Chauvín'
 'Barrio Privado "Ayres de Pilar"' 'Barrio Los Sauces'
 'Fincas de San Vicente' 'Barrio Cabos del Lago' 'Country Golf El Sosiego'
 'Hacoaj Barrio Cerrado' 'Villa Mercedes' 'Los Troncos' 'Primera Junta'
 'Stella Maris' 'Constitución' 'Puerto' 'Materno' 'Rumenco' 'Playa Varese'
 'Laguna de los Padres' 'Parque Luro' 'Mar de las Pampas' 'Los Pinares'
 'Bosque Peralta Ramos' 'Villa Primera' 'Country Banco Provincia' 'Trujui'
 'Torreón' 'Grand Bell' 'Vila Vela Terrazas al Lago'
 'Barrio Santa Guadalupe - Pilar del Este' 'Costa Uruguay Sur'
 'Barbarita, Barrio Cerrado' 'La Cesarina' 'Barrio San Agustin'
 'Barrio Cerrado La Masia' 'Barrio Cerrado "Sausalito"'
 'Los Pilares - Barrio Privado' 'Acacias Blancas' 'Saint Matthews'
 'El Remanso' 'La Angélica' 'Barrio Cerrado "Los Condes"' 'La Tablada'
 'Terminal Vieja' 'Arroyo Leyes' 'Village Golf & Tennis Country Club'
 'Martindale Country Club' 'Country Farm Club' 'La Madrugada'
 'Barrio Cerrado "Los Potrillos"' 'Haras del Pilar - La Caballeriza'
 'Altos del Golf' 'Dock Sud' 'Don Orione' 'Cuartel V' 'Piñeiro'
 'Florencio Varela' 'Armenia Country Club' 'Pacheco Golf Club'
 "Golfer's Country Club" 'Rincón de los Sauces' 'Barrio Cerrado'
 'Tortugas Country Club' 'Haras San Pablo' 'Barrio Privado Santa Rita'
 'Altos de Manzanares 1 y 2' 'Pilar Golf Country Club' 'Los Horneros CC'
 'Altos de Matheu' 'Barrio Los Castores' 'Agua Blanca' 'La Punta'
 'Complejo de Barrios Privados La Magdalena' 'Guillermo Hudson'
 'Barrio Fortunato de La Plaza' 'Los Hornos' 'Punta Mogotes'
 'Pablo Podestá' 'Fincas del Lago' 'Barrio Cerrado Los Abedules'
 'Barrio Cerrado "La Montura"' 'Desvío Arijón' 'José Ingenieros'
 'El Encuentro' 'Solar del Bosque' 'Santa María de los Olivos'
 'Campos de Álvarez' 'Barrio La Cuesta' 'Barrio Cerrado Los Troncos'
 'Brickland' 'Villa Amancay' 'Barrio Cerrado "La Cañada de Pilar"'
 'Barrio cerrado La Cascada' 'La Ranita' 'Rincon' 'Valle Claro'
 'Lomas de Benavidez' 'Las Gaviotas' 'Dina Huapi' 'Altos del Pilar'
 'San Alberto' 'Barrio Cerrado "Ayres Plaza"' 'San Diego Country Club'
 'Barrio Los Jazmines - Pilar del Este' 'Barrio Cerrado "SpringDale"'
 'Villa Celina' 'Haras María Elena' ' los alamos' 'Dorrego'
 'Villa Vatteone' 'Barrio Cerrado "Los Alcanfores"' 'Pergamino'
 'San Miguel Oeste' 'Villa Monteagudo' 'Nueva Ciudad' 'Cruce Castelar'
 'Pedro Molina' '9 de Abril' 'Villa Fiorito' 'Cabalango'
 'Ingeniero Adolfo Sourdeaux' 'Plaza Rocha' 'Villa La Bolsa'
 'Alejandro Roca' 'San Francisco del Monte' 'Barrio Alto Camet'
 'El Dorado' 'Barrio Privado Villa Olivos' 'Alto Los Cardales'
 'Haras del Sol - Barrio Privado' 'Barrio El Moro' 'Punta Chica Village'
 'Boat Center Barrio Cerrado' 'San Lorenzo' 'Villa Astolfi'
 'Club de Campo Pueyrredón' 'Barrio San Juan' ' Country Maschwitz Club'
 'Larena Country Club' 'Campana' 'Barrio San Eduardo - Pilar del Este'
 'Barrio Privado "Lomas de Fátima"' 'Campos de Roca'
 'Barrio Cerrado "Villa Rosa"' 'San Antonio' 'Villa Argüello'
 'Pilar Green Park' 'Bermudas Country Club' 'Alem'
 'Barrio Cerrado "Buenos Aires Village"' 'Barrio Melazzi'
 'Colina de Peralta Ramos' 'General Las Heras'
 'Barrio Cerrado "Isla del Sol"' 'Barrio Cerrado San Andres'
 'Barrio Marinas' 'Pueblo Andino' 'San Miguel de Ghiso' 'Mayu Sumaj'
 'Gutierrez' 'Barrio Cerrado "Roble Joven"' 'Bahía del Sol'
 'La Colina Golf & Polo' 'William Morris' 'Cardales Country Club'
 'Barrio Cerrado "El Aromo"' 'Barrancas de San Jose'
 'Barrio La Perla Norte' 'Campo Grande Country Club' 'Mundialista'
 'Etcheverry' 'El Canton Barrio Islas' 'Barrio Parque Almirante Irízar'
 'Carlos Spegazzini' 'Medal Country Club' 'El Pato' 'Prados del Oeste'
 'Barrio Vistas' 'Berazategui Oeste' 'Barrio Cerrado "La Tranquera"'
 'Barrio Cerrado "La Candelaria"' 'Barrio Cerrado "Soles de Pilar"'
 'Barrio Parque Matheu' 'Barrio Alamo Alto' 'Los Robles de Maschwitz'
 'Barrio San Alfonso - Pilar del Este' 'Lago Epuyén'
 'Barrio Privado El Recodo  S.A.' 'Barrio Cerrado "La Chacra"'
 'Barrio San Benito' 'Villa Parque Siquiman' 'Rincón de la Costa'
 "Marina Del Sol (Sun's Marine)" 'Barrio Cerrado El Casco de Alvarez'
 'La Esperanza Club de Campo' 'Barrio Cerrado "Tres Horquetas"'
 'St. Patrick Country' 'La Escondida de Manzanares' 'Villa Pacheco'
 'Barrancas de Santa María' 'Los Talas' 'Troncos del Talar' 'El Molino'
 'El Canton Barrio Norte' 'Bernardino Rivadavia' 'La Agustina'
 'Country Club Las lajas' 'Benavidez Greens' 'Los Tres Coniles'
 'San Isidro Chico' 'Club de Campo Aranzazu' 'Rincón de Maschwitz'
 'Barrio Cerrado "La Damasia"' 'Los Corralitos' 'Echeverría del Lago'
 'Princess' 'El Zorzal' 'Barrio Cerrado "Los Senderos"'
 'Barrio Cerrado El Lucero' 'Villa Bertha' 'San Lucas Village'
 'Villa Ventana' 'La Falda' 'Hermitage' 'Barrio Sarmiento'
 'Barrio Parque Girado' 'Alfar' 'Gral San Martin' 'Barrio San Marco'
 'Barrio Cerrado "La Emilia"' 'Hindu Club' 'Barrio Cerrado "Las Marías"'
 'Faro Norte' 'Villa Llao Llao' 'Country La Tradición'
 'Barrio Cerrado "El Casco de Moreno"' 'La Arboleda de Maschwitz'
 'La Caleta' 'Barrio Cerrado "Los Fresnos"' 'Gorina' 'Punta Iglesia'
 'San Eliseo Country, Golf, Hotel & Spa' 'Chacras de La Trinidad'
 'La Lomada de Pilar' 'Rincon Del Arca' 'Golf Club Argentino'
 'La Herradura' 'El Centauro' 'Playa Serena' 'Pueblo Liebig' 'La Pilarica'
 'Santa Catalina' 'Virasoro Village' 'Mi Refugio' 'Terralagos'
 'Villa Granaderos De San Martin' 'Los Laureles' 'Santa Luisa' 'Junín'
 'El Viejo Vivero' 'Lomas del Río Luján' 'Villa Centenario'
 'San Javier/Yacanto' 'Pujato Norte' 'Barrio Privado El Resuello'
 'Barrio Cerrado "El Estribo"' 'Barrio Barrancas del Lago'
 'Barrio Cerrado Lagos del Norte' 'Arroyo Ceibal'
 'Barrio Cerrado "La Escondida"' 'The Boating Club'
 'Villa Parque Santa Ana' 'Villa Ciudad de América' 'Villa Los Aromos'
 'La Serranita' 'Mi Granja' 'Barrio El Yacht'
 'Barrio Cerrado "Las Araucarias"' 'Indio Cuá Country Club' 'Barrio Camet'
 'Altos de Hudson I']

In [ ]:
# una modificación

### Correspondencia entre las coordenadas y su ubicación.
A continuación vamos a verificar si los puntos están correctamente ubicados. Es decir, si se corresponden con los barrios/localidades que dice el dataset que tiene. 

Hacemos esto para verificar si la información es fiable y se la puede utilizar para complementar otros análisis.

In [20]:
df = data
df['text'] = df['place_name']

fig = go.Figure(data=go.Scattergeo(
        lon = df['lon'],
        lat = df['lat'],
        text = df['text'],
        mode = 'markers',
        ))

fig.update_layout(
        title = 'Propiedades',
        geo_scope="south america",
    )
#fig.show()

NameError: name 'go' is not defined